Repository ryuichi24/electron-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "apps/desktop/src/**/*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --fix"],
  "apps/renderer/src/**/*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/shared/src/**/*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/util/src/**/*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": ["prettier --write"]
}

reactor: update name of the expose API to IPC
  apps/desktop/src/preload/index.ts
  apps/renderer/src/App.tsx
  apps/renderer/src/index.d.ts
  packages/shared/src/ipc/index.ts
Due: prettier --write, eslint --fix

fix: build fail
  apps/builder/package.json
  apps/desktop/package.json
  apps/renderer/package.json
  apps/renderer/vite.config.ts
  package-lock.json
  packages/util/package.json
Due: prettier --write

feat: add outputs
  turbo.json
Due: prettier --write

add assets folder
  apps/builder/electron-builder.config.js
  apps/builder/package.json
  apps/desktop/src/main/index.ts
Due: prettier --write, eslint --fix

feat: add application logo icons
  apps/builder/electron-builder.config.js
  apps/builder/package.json
  apps/desktop/assets/icons/logo/linux/logo.png
  apps/desktop/assets/icons/logo/mac/logo.icns
  apps/desktop/assets/icons/logo/windows/logo.ico
  apps/desktop/src/index.d.ts
  apps/desktop/src/main/index.ts
  scripts/make-logo-icons.sh
Due: prettier --write, eslint --fix

feat: add absolute import config for renderer
  apps/renderer/src/App.tsx
  apps/renderer/src/components/Button/Button.tsx
  apps/renderer/src/components/Button/index.tsx
  apps/renderer/src/components/index.tsx
  apps/renderer/tsconfig.json
  apps/renderer/vite.config.ts
Due: prettier --write, eslint --fix

feat: add absolute import config for the main process
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/services/greet.service.ts
  apps/desktop/src/main/services/index.ts
  apps/desktop/tsconfig.json
  apps/desktop/vite.config.ts
Due: prettier --write, eslint --fix

refactor: remove unneeded css file
  apps/renderer/src/index.css
Due: none

feat: add app icon
  apps/builder/electron-builder.config.js
  apps/desktop/src/main/index.ts
  apps/desktop/vite.config.ts
  apps/renderer/src/custom.d.ts
  scripts/app.asar
  scripts/tmp/assets/icons/logo/linux/logo.png
  scripts/tmp/assets/icons/logo/mac/logo.icns
  scripts/tmp/assets/icons/logo/windows/logo.ico
  scripts/tmp/package.json
Due: prettier --write, eslint --fix
